@{
    ViewBag.Title = "Home Page";
}
<head>
    <base href="/">
</head>

<div class="header-nav">
    <my-app>Loading....</my-app>
</div>

@*<div class="row">
    <my-fitness>Loading....</my-fitness>
</div>*@